/* 2025-07-30 수정 */

/* 🎨 공통 변수 정의 */
:root {
  /* font_size */
  --font-size-inline-title: 1.5em;
  --font-size-body: 16px;
  --font-size-heading-1: 1.58em;
  --font-size-heading-2: 1.45em;
  --font-size-heading-3: 1.35em;
  --font-size-heading-4: 1.28em;
  --font-size-heading-5: 1.2em;
  --font-size-heading-6: 1.15em;

  /* font_weight */
  --font-weight-thin: 500;
  --font-weight-base: 600;
  --font-weight-strong: 700;
  --font-weight-heading: 800;

  /* line_height */
  --line-height-base: 1.8;
  --line-height-heading: 1.6;

  /* codeblock */
  --font-size-codeblock: 0.92em;
  --line-height-codeblock: 1;
  --font-size-codeblock-preview: 1.05em;
  --line-height-codeblock-preview: 1.8em;

  /* padding and margin */
  --padding-vertical: 0.3em;
  --margin-heading: 0.8em 0em 0.5em 0em;
}


/* 📌 Minimal Theme Color */

/* Inline Title color */
.markdown-preview-view .inline-title,
.markdown-source-view.mod-cm6 .inline-title {
  color: #8D7491;
}
/* Heading color */
.markdown-preview-view h1,
.markdown-source-view.mod-cm6 .cm-line.HyperMD-header-1 {
    color: #E54A4A;
}
.markdown-preview-view h2,
.markdown-source-view.mod-cm6 .cm-line.HyperMD-header-2 {
    color: #BEC04A;
}
.markdown-preview-view h3,
.markdown-source-view.mod-cm6 .cm-line.HyperMD-header-3 {
    color: #E2A96A;
}
.markdown-preview-view h4,
.markdown-source-view.mod-cm6 .cm-line.HyperMD-header-4 {
    color: #E3A296;
}
.markdown-preview-view h5,
.markdown-source-view.mod-cm6 .cm-line.HyperMD-header-5 {
    color: #92CCBB;
}
.markdown-preview-view h6,
.markdown-source-view.mod-cm6 .cm-line.HyperMD-header-6 {
    color: #79A9E0;
}



/* 📌 Inline Title */
.markdown-preview-view .inline-title,
.markdown-source-view.mod-cm6 .inline-title {
  font-size: var(--font-size-inline-title);
  line-height: var(--line-height-heading);
  font-weight: var(--font-weight-heading) !important;
}

/* 📌 Heading */
.markdown-preview-view h1,
.markdown-source-view.mod-cm6 .cm-line.HyperMD-header-1 {
  font-size: var(--font-size-heading-1);
  line-height: var(--line-height-heading);
  font-weight: var(--font-weight-heading);
}
.markdown-preview-view h2,
.markdown-source-view.mod-cm6 .cm-line.HyperMD-header-2 {
  font-size: var(--font-size-heading-2);
  line-height: var(--line-height-heading);
  font-weight: var(--font-weight-heading);
}
.markdown-preview-view h3,
.markdown-source-view.mod-cm6 .cm-line.HyperMD-header-3 {
  font-size: var(--font-size-heading-3);
  line-height: var(--line-height-heading);
  font-weight: var(--font-weight-heading);
}
.markdown-preview-view h4,
.markdown-source-view.mod-cm6 .cm-line.HyperMD-header-4 {
  font-size: var(--font-size-heading-4);
  line-height: var(--line-height-heading);
  font-weight: var(--font-weight-heading);
}
.markdown-preview-view h5,
.markdown-source-view.mod-cm6 .cm-line.HyperMD-header-5 {
  font-size: var(--font-size-heading-5);
  line-height: var(--line-height-heading);
  font-weight: var(--font-weight-heading);
}
.markdown-preview-view h6,
.markdown-source-view.mod-cm6 .cm-line.HyperMD-header-6 {
  font-size: var(--font-size-heading-6);
  line-height: var(--line-height-heading);
  font-weight: var(--font-weight-heading);
}



/* 📌 Box 처리로 클릭 오류 해결 */

/* 본문 줄 설정 */
.markdown-source-view.mod-cm6 .cm-line,
.markdown-preview-view {
  font-size: var(--font-size-body);
  line-height: var(--line-height-base);
  padding-top: var(--padding-vertical);
  padding-bottom: var(--padding-vertical);
  font-weight: var(--font-weight-base);
  box-sizing: border-box;
}
.markdown-preview-view {
  line-height: 2 !important;
}

/* 줄번호 요소 설정 */
.markdown-source-view.mod-cm6 .cm-gutterElement {
  display: flex;
  align-items: center;
  height: auto;
  line-height: inherit;
  padding-top: inherit;
  padding-bottom: inherit;
  font-size: inherit;
  font-weight: inherit;
  box-sizing: inherit;
  pointer-events: none;
}

/* 줄번호 wrapper */
.markdown-source-view.mod-cm6 .cm-gutter,
.markdown-source-view.mod-cm6 .cm-lineNumbers {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}



/* 📌 리스트 등등... */

/* strong */
.markdown-source-view.mod-cm6 .cm-strong,
.markdown-preview-view strong {
  font-weight: var(--font-weight-strong);
}

/* 본문 리스트 항목 전체 (내용 + 글머리표 포함) */
.markdown-preview-view li,
.markdown-source-view.mod-cm6 .cm-line.HyperMD-list-line,
.markdown-preview-view li::marker {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.markdown-rendered li,
.markdown-rendered ol,
.markdown-rendered ul {
  margin: 2px 0px;
  font-weight: var(--font-weight-base);
}



/* 📌 Codeblock */
.markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock {
  font-size: var(--font-size-codeblock);
  line-height: var(--line-height-codeblock);
  font-weight: var(--font-weight-thin);
}
.language-css {
  font-size: var(--font-size-codeblock-preview);
  font-weight: var(--font-weight-thin);
}
.cm-hmd-codeblock,
.token.selector, .token.attr-name, .token.string, .token.char, .token.inserted {
  line-height: var(--line-height-codeblock-preview) !important;
  font-weight: var(--font-weight-thin) !important;
}

.HyperMD-codeblock-begin {
  padding: 12px 0px 7.36px 16px !important;
}



/* 📌 Minimal Theme margin 이상한 거 */
.markdown-rendered p {
  margin: 0.2em 0em;
}
.markdown-preview-view h1,
.markdown-preview-view h2,
.markdown-preview-view h3,
.markdown-preview-view h4,
.markdown-preview-view h5,
.markdown-preview-view h6 {
  margin: var(--margin-heading) !important;
}



/* 📌 Image */
img {
    margin-top: 5px;
    margin-bottom: 5px;
}



/* 📌 Callout */
.markdown-source-view.mod-cm6 .callout-content p,
.markdown-preview-view .callout-content p {
    margin: 10px 0px 10px;
    font-weight: var(--font-weight-base);
}
.callout-title-inner {
    margin-left: 5px;
}
.callout-title {
    margin: 8px 0px;
}
.callout {
    padding: 0.4em 1.2em 0.4em 1.2em;
}



/* 📌 Dataview Table */
.dataview.table-view-table {
  width: 100% !important;
}

.dataview.table-view-table td {
    line-height: 1.8;
    font-weight: var(--font-weight-base);
}

.dataview.table-view-table td .internal-link {
  display: block;
  width: 100%;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
}



/* 📌 Metadata Menu */

/* Property 하단 아이콘 Remove */
.metadata-container .metadata-content .action-container .fileclass-btn-container {
    display: none;
}

/* Source View Font Weight */
.metadata-properties {
  font-weight: var(--font-weight-base);
}

/* Explorer Icon 조건부 Remove */
.nav-files-container .metadata-menu.fileclass-icon {
  display: none;
}
.nav-files-container [data-path*="/FileClass/"] .metadata-menu.fileclass-icon {
  display: flex !important;
}